# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
thermostraw-analyzer/
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Machine Learning models
*.pkl
# EXCEPTION : Garder le modèle optimisé pour Railway
!backend/models/modele_GP_conductivite_22lots.pkl

# Generated plots
validation_initiale_GP.png
calibration_random_search.png
validation_finale_GP_calibre.png

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# React
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*